p,
h1,
h2,
h3,
h4,
h5,
h6,
label {
    margin: 0;
}

.cr-p {
    cursor: pointer;
}

.gap-8px {
    gap: 8px !important;
}

.gap-16px {
    gap: 16px !important;
}

.gap-18px {
    gap: 18px;
}

.gap-50px {
    gap: 50px;
}

video {
    width: 100%;
    /* min-height: 276px !important; */
    border-radius: 8px;
}

.view-all-btn {
    background: #2563EB;
    border-radius: 7px;
    height: 32px;
    padding: 10px 16px 10px 15px;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    cursor: pointer;
}

.upcoming-events {
    background: #F9F9F9;
    border-radius: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.upcoming-events svg {
    width: 100%;
}

.mt-12px {
    margin-top: 12px !important;
}

.mb-12px {
    margin-bottom: 12px !important;
}

.mb-32px {
    margin-bottom: 32px !important;
}

.mt-32px {
    margin-top: 32px !important;
}

.text-blue {
    color: #2563EB;
}

/* light */
.bg-orange {
    background: #FFF2EC;
}

.bg-pinkish {
    background: #FFECEC;
}

.bg-greenish {
    background: #ECFFEC;
}

.bg-blueish {
    background-color: #ECF5FF;
}

/* dark */
.bg-orange-dark {
    background: #FFDCCB;
}

.bg-pinkish-dark {
    background: #FFCCCC;
}

.bg-greenish-dark {
    background: #C7FFC7;
}

.bg-blueish-dark {
    background-color: #C1DCFD;
}

/*  */
.bg-greenish-dark-svg path {
    fill: #B3FFDC;
}

.bg-pinkish-dark-svg path {
    fill: #FFCCCC;
}

.bg-blueish-dark-svg path {
    fill: #D2E0FF;
}

.bg-gray-svg path {
    fill: #F0F0F0;
}

/* prority */
.prority {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    gap: 8px;
    width: 69px;
    height: 32px !important;
    border-radius: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.05em;
}

.urgent {
    background: rgba(192, 0, 0, 0.15);
    border: 1px solid #C00000;
    color: #C00000;
}

.low {
    background: rgba(37, 99, 235, 0.15);
    border: 1px solid #2563EB;
    color: #2563EB;
}

.high {
    background: rgba(0, 139, 6, 0.15);
    border: 1px solid #008B06;
    color: #008B06;
}

/*  */
.bg-blue {
    background-color: #2563EB;
}

.text-grey {
    color: #707070;
}

.text-gold {
    color: #FFC300;
}

.text-gray-900 {
    color: #18181B;
}

.text-green {
    color: #17A70A;
}

.letter-spacing {
    letter-spacing: 0.05em;
}

/* fonts */
.font-12 {
    font-size: 12px;
    line-height: 100%;
}

.font-14-100 {
    font-size: 14px;
    line-height: 100%;
}

.font-14 {
    font-size: 14px;
    line-height: 18px;
}

.font-16 {
    font-size: 16px;
    line-height: 22px;
}

.font-18 {
    font-size: 18px;
    line-height: 24px;
}

.font-18-22 {
    font-size: 18px;
    line-height: 22px;
}

.font-18-100 {
    font-size: 18px;
    line-height: 100%;
}

.font-20 {
    font-size: 20px;
    line-height: 26px;
}

.font-24 {
    font-size: 24px;
    line-height: 30px;
}

.font-27 {
    font-size: 27px;
    line-height: 33px;
}

.font-36 {
    font-size: 36px;
    line-height: 100%;
}

.font-36-48 {
    font-size: 36px;
    line-height: 48px;
}

.font-40 {
    font-size: 40px;
    line-height: 100%;
}

.font-48 {
    font-size: 48px;
    line-height: 100%;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-800 {
    font-weight: 800;
}

/* dashboard */
.app-header {
    height: 80px;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
}

.app-header .search-input {
    background: #F9F9F9;
    border-radius: 8px;
    height: 40px;
    padding: 12px 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 422px;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    transition: width 0.5s ease;
}

.app-header .search-input input {
    background: transparent;
    width: 100%;
    outline: 0 !important;
    border: 0 !important;
    color: black;

}

.app-header .search-input input::placeholder {
    color: #B5B5B5;
}

.sidebar-content {
    height: calc(100vh - 80px);
    display: flex;
}

.app-layout .content-div {
    background: #F7F7F7;
    width: 100%;
    padding: 24px 24px 32px 24px;
    height: calc(100vh - 80px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-logo {
    padding-right: 126px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.menu-btn {
    background: transparent;
    border: 0 !important;
    outline: 0 !important;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.alerts-main {
    height: 100%;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.alert-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    padding: 0 20px;
}

.w-60 {
    width: 59% !important;
}

.rounded-7 {
    border-radius: 7px !important;
}

.rounded-8 {
    border-radius: 8px !important;
}

/* dashboard */
.camera-main {
    height: 160px;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    align-items: flex-start;
    /* gap: 30px; */
}

.col-xl-3:last-child .camera-main {
    margin: 0 !important;
}

.z-index-99 {
    z-index: 99;
}

.camera {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    border-radius: 0 8px 0 0;
}

.preview-live-main {
    position: relative;
}

.camera-position {
    position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    background: rgba(255, 255, 255, 0.8);
    border: 1 solid #FFFFFF;
    border-radius: 7px;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: #000000;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.all-students {
    overflow: auto;
    border-radius: 0 0 8px 8px;
}

.all-students-header {
    border-radius: 8px 8px 0 0;
}

.all-students table {
    min-width: 880px;
    width: 100%;
}

.all-students table thead tr {
    background: #F7F7F7 !important;
}

.all-students table tr:nth-child(odd) {
    background: #FFFFFF;
}

.all-students table tr:nth-child(even) {
    background: #F7F7F7 !important;
}

.all-students table thead tr th {
    height: 56px !important;
    padding: 0 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
}

.all-students table tbody tr td {
    height: 56px !important;
    padding: 12px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.05em;
}

/* all cameras */
.all-camera-previews img {
    width: 100% !important;
    height: 100% !important;
}

.all-camera-previews.active div {
    border: 1px solid;
    border-radius: 8px;
}

.all-camera-previews:nth-child(4) {
    padding: 0 !important;
}

.all-camera-previews:nth-child(8) {
    padding: 0 !important;
}

.live-view {
    position: relative;
}

.camera-live {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 8px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #FFFFFF;
    border-radius: 7px;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.05em;
    height: 32px !important;
    color: #000000;
}

.camera-position-live {
    position: absolute;
    top: 32px;
    left: 32px;
}

.camera-recording-live {
    position: absolute;
    top: 32px;
    right: 32px;
}

.camera-recording-options-side {
    position: absolute;
    top: 96px;
    right: 32px;
}

.camera-recording-options-bottom {
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: max-content;
}

.camera-recording-options-bottom svg {
    width: 100%;
}

.rounded-8-8-0-0 {
    border-radius: 8px 8px 0 0;
}

.rounded-0-0-8-8 {
    border-radius: 0 0 8px 8px;
}
.video-react{
    padding: 0 !important;
}
@media screen and (max-width:1200px) {
    .app-header .search-input {
        width: 250px !important;
    }

    .header-logo {
        padding-right: 0px !important;
    }

    .col-xl-3:nth-child(3) .camera-main {
        margin: 0 !important;
    }

    .col-xl-3:last-child .camera-main {
        margin-right: 16px !important;
    }

    .all-camera-previews:nth-child(4) {
        padding-right: 15px !important;
    }

    .all-camera-previews:nth-child(8) {
        padding-right: 15px !important;
    }

    .all-camera-previews:nth-child(8) {
        padding: 0 !important;
    }

    .all-camera-previews:nth-child(3) {
        padding: 0 !important;
    }

    .all-camera-previews:nth-child(6) {
        padding: 0 !important;
    }
}

@media screen and (max-width:767px) {
    .all-camera-previews:nth-child(2) {
        padding: 0 !important;
    }

    .all-camera-previews:nth-child(4) {
        padding: 0 !important;
    }

    .all-camera-previews:nth-child(3) {
        padding-right: 15px !important;
    }

    .gap-50px {
        gap: 20px !important;
    }

    .camera-recording-options-bottom {
        width: 50%;
    }

}

@media screen and (max-width:991px) and (min-width:576px) {
    .app-header .search-input {
        width: 200px !important;
    }

    .col-xl-3:nth-child(2) .camera-main {
        margin-right: 0 !important;
    }

    .col-xl-3:nth-child(3) .camera-main {
        margin-right: 16px !important;
    }

    .col-xl-3:last-child .camera-main {
        margin-right: 0 !important;
    }

}

@media screen and (max-width:576px) {
    .col-xl-3 .camera-main {
        margin-right: 0 !important;
    }

    .col-xl-3:last-child .camera-main {
        margin-right: 0 !important;
    }

    .all-camera-previews:nth-child(1) {
        padding: 0 !important;
    }

    .all-camera-previews:nth-child(3) {
        padding: 0 !important;
    }

    .all-camera-previews:nth-child(5) {
        padding: 0 !important;
    }

    .all-camera-previews:nth-child(7) {
        padding: 0 !important;
    }

    .gap-50px {
        gap: 10px !important;
    }
}